In [38]:
SELECT TIPUS, ROUND(AVG(CSILLAGOK_SZAMA), 0)
FROM SZALLASHELY
GROUP BY TIPUS
HAVING TIPUS NOT LIKE 'panziÃ³' AND AVG(CSILLAGOK_SZAMA) >= 3;

TIPUS,(No column name)
Hotel,3

In [40]:
SELECT sz.SZOBA_ID, YEAR(f.METTOL), COUNT(f.FOGLALAS_PK)
FROM SZOBA sz JOIN FOGLALAS f ON sz.SZOBA_ID = f.SZOBA_FK
WHERE sz.SZOBA_SZAMA % 2 != 0
GROUP BY sz.SZOBA_ID, YEAR(f.METTOL)
HAVING COUNT(f.FOGLALAS_PK) > 10;

SZOBA_ID,(No column name),(No column name)
58,2016,12